.password-field {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 10px;
  }

  &__title {
    margin: 0;
    padding-right: 11px;
    padding-left: 11px;
    color: #3c485e;
    font-size: 16px;
    line-height: 24px;
  }

  &__text-error {
    color: #e31e24;
    font-size: 9px;
    line-height: 120%;
  }

  &__input {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    padding: 15px 11px 10px;
    width: 100%;
    outline: none;
    border: 0.5px solid #b3b9d1;
    border-right-style: none;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    color: #b3b9d1;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 24px;

    &_with-error {
      border-color: #e31e24;
    }
  }

  &__button {
    padding-top: 30px;
    min-width: 42px;
    outline: none;
    border: 0.5px solid #b3b9d1;
    border-left-style: none;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    background-image: url('./image/not-visible.png');
    background-position: center 50%;
    background-repeat: no-repeat;
    color: #b3b9d1;
    font-size: 9px;
    line-height: 15px;
    cursor: pointer;

    &_with-error {
      border-color: #e31e24;
    }

    &_visibled {
      background-image: url('./image/visible.png');
      background-position: center 49%;
    }
  }
}
